$bgc-ghiaccio:rgb(236, 238, 239);
$bgc-begie:rgb(236, 242, 249);
$bgc-viola: rgb(52, 49, 66);
$bgc-indaco-footer:rgb(40, 41, 53);
$color-verde:rgb(47, 173, 150);
$color-white:rgb(254, 254, 254);
$color-grigio:rgb(51, 51, 51);
$color-grigioChiaro: rgb(188, 188, 188);